<div class="show">
  <h2><%= @artwork.title %></h2>
  <p id=artwork><strong>ARTIST:</strong> <%= @artwork.artist %></p>
  <p id=artwork><strong>YEAR CREATED:</strong> <%= @artwork.year %></p>
  <p id=artwork><strong>DESCRIPTION:</strong> <%= @artwork.description %></p>
</div>

<div class="categories_list">
    <strong>CATEGORIES:</strong>
    <% @artwork.categories.each do |category| %>
      <%= link_to category.name, category_path(category) %> |
    <% end %>
</div>

<div class="actions">
  <% if user_signed_in? %>
    <%= button_to 'Add to Profile', user_artworks_path(artwork_id: @artwork) %>
  <% end %>
</div>
