<div class="add">
  <% if user_signed_in? %>
    <%= link_to "Edit", edit_museum_artwork_path(@artwork.museum, @artwork) %> |
    <%= link_to "Remove", museum_artwork_path(@artwork.museum, @artwork), method: "delete" %> |
    <%= link_to "Comment", new_artwork_user_comment_path(@artwork) %>
  <% end %>
</div>

<div class="show">
  <h2><%= @artwork.title %></h2>
  <p id=artwork><strong>ARTIST:</strong> <%= @artwork.artist %></p>
  <p id=artwork><strong>YEAR CREATED:</strong> <%= @artwork.year %></p>
  <p id=artwork><strong>DESCRIPTION:</strong> <%= @artwork.description %></p>
</div>

<div class="categories_list">
    <strong>CATEGORIES:</strong>
    <% @artwork.categories.each do |category| %>
      <%= link_to category.name, category_path(category) %> |
    <% end %>
</div>

<div class="comments" id="<%=@artwork.id%>" data-id="<%=@artwork.museum.id%>">
  <p><strong>COMMENTS:</strong></p>
  <ul>
  </ul>
  <!-- <% @artwork.user_comments.each do |comment| %>
    <li>
      <%= comment.user.username %>: <%= comment.comments %>
      <% if current_user == comment.user %>
        <%= link_to "Edit", edit_artwork_user_comment_path(@artwork, comment) %> |
        <%= link_to "Remove", artwork_user_comment_path(@artwork, comment), method: "delete" %>
      <% end %>
    </li>
  <% end %> -->
</div>

<div class="actions">
  <% if user_signed_in? %>
    <%= button_to 'Add to Profile', user_artworks_path(artwork_id: @artwork) %>
  <% end %>
</div>
