<%= form_for @museum do |f| %>
  <div class:"fields_with_errors">
    <% if @museum.errors.any? %>
      <ul>
        <% @museum.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
  <div class:"fields_with_errors">

  <div class="field">
    <%= f.label :name, 'Name of Museum:' %><br>
    <%= f.text_field :name %>
  </div>
  <br>

  <div class="field">
    <%= f.label :description, 'Basic Information:' %><br>
    <%= f.text_area :description %>
  </div>
  <br>

  <div class="field">
    Choose a Location:<br>
    <%= f.collection_select :location_id, Location.all, :id, :name, include_blank: "" %><br>
  </div>
  <br>

  <div class="field">
    <%= f.label :location_name, 'Or Add One (ex. New York, USA):' %><br>
    <%= f.text_field :location_name %>
  </div>
  <br>

  <div class="action">
    <%= f.submit %>
  </div>
<% end %>
