<div class="show">
  <h2><%= @museum.name %></h2>
  <p id="location"><%= @museum.location.name %></p>
  <p><%= @museum.description %></p>
</div>

<div class="add" id="add">
  <%= render partial: 'museums/signin', locals: {museum: @museum} %>
</div>

<div class="collection_list">
  <h3>Collection</h3>
  <ul>
    <% @museum.artworks.each do |artwork| %>
      <li>
        <%= artwork.title %> -
        <%= artwork.artist %> -
        <%= artwork.year %>
        <br>
        <%= link_to "View", museum_artwork_path(@museum, artwork) %>
        <%= render partial: 'museums/collection_signin', locals: {museum: @museum, artwork: artwork} %>
      </li>
    <% end %>
  </ul>
</div>
